<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="40907StamoPetkov.Londonbicycles" Publisher="CN=FBDA07BF-B77C-4253-A67B-D52A64DECCE5" Version="1.0.0.4" />
  <Properties>
    <DisplayName>London bicycles</DisplayName>
    <PublisherDisplayName>Stamo Petkov</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LBClient.App">
      <VisualElements DisplayName="London bicycles" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="LBClient" ForegroundText="light" BackgroundColor="#00245D" ToastCapable="true">
        <DefaultTile ShowName="logoOnly" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#00245D" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>